.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.center-content {
    margin-top: 100px;
}

.signIn {
    width: 300px;
    margin-inline: auto;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.signIn button {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.hide { display: none;}