.my-form{ 
    text-align: center;
}

.shipping-form {
    width: 50%;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto
}

.my-label {
    height: 65px;
}